<hmtl>
    
    <head>
        <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>
    
    <body>
      
    <header>
        <a href="/">
          <imgsrc="logo.png"/>
        </a>
      
      <h1>soccerFC</h1>
          
    </header>
    
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html>About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        </nav>
    </body>
    
    </hmtl>

header h1 {
 font-family: sans-sans-serif;
 margin-left: 10px;
 width: 640px;
}

nav ul {
  clear: both;
}

nav li {
  list-style-type: none;
  display: inline;
  padding-left: 40px;
}

a:link {
text-decoration: none;
}

a:hover {
  color: blue;
}
